:root {
  --head-font: "Cinzel", serif;
  --sub-font: "Poppins", sans-serif;
  --extra-font: "Nanum Myeongjo", serif;
}

body {
  background-color: whitesmoke;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.hero {
  background-color: #655c5c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("hairpink.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 90px;
  margin: 0 auto;
  max-width: 1000px;
  height: 400px;
  text-align: center;
  border-radius: 40px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 78%);
  box-shadow: 2px 2px 2px gray;
}

.maintitle {
  margin-top: 4em;
  padding-left: 3rem;
  text-align: left;
  color: whitesmoke;
}

p {
  font-family: var(--sub-font);
}

h1 {
  font-family: var(--head-font);
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 0;
  margin: 0;
  letter-spacing: 0.6rem;
}

h2 {
  font-family: var(--head-font);
  padding-bottom: 0;
}

h3 {
  font-family: var(--head-font);
  font-size: 7px;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
}

.services {
  background-color: black;
  color: whitesmoke;
  padding: 0.5rem 0.8rem;
  font-size: 8px;
  font-family: var(--sub-font);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  box-shadow: 0 2px 2px black;
  border: none;
}

article {
  position: absolute;
  z-index: 1;
  background-color: black;
  color: whitesmoke;
  top: 25rem;
  left: 6rem;
  padding: 1.2rem 0.7rem;
  font-family: var(--sub-font);
  font-size: 10px;
  letter-spacing: 0.08rem;
  height: 110px;
}

.firstvisit {
  margin-top: 0;
  font-size: 7px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.discount {
  font-size: 23px;
  font-style: bold;
  font-family: var(--extra-font);
}

.discount-btn {
  background-color: whitesmoke;
  color: black;
  padding: 0.5rem 0.8rem;
  font-weight: 700;
  font-size: 9px;
  font-family: var(--sub-font);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  box-shadow: 0 2px 2px black;
  border: none;
}

.summary {
  display: flex;
  padding: 6rem 7em 2rem 7rem;
  text-align: center;
}

.summary div {
  padding: 1rem;
}

.momentum {
  padding: 0.7rem 7rem;
  background-color: rgb(168, 168, 168);
  display: flex;
  justify-content: space-around;
}

.momentum p {
  font-size: 10px;
  font-family: var(--sub-font);
  letter-spacing: 0.06rem;
  font-weight: 500;
  line-height: 12px;
  padding-top: 0;
}

.makeown {
  padding: 1rem 2.5rem 1rem;
}

.cutpic {
  height: 200px;
  margin: 3rem;
}
/* Below allows for stacking
position: absolute;
  z-index: -1;*/
